<!DOCTYPE html>
<html>
<head>
  <title>JobNotifier</title>
  <%= stylesheet_link_tag    "job_notifier/application", media: "all" %>
  <%= javascript_include_tag "job_notifier/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
